apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-iwwansfd
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-iwwansfd:0c30a722a320b47f7bad5f9ad7eb6bec6244eb7e@sha256:ea0829a936683d9905c0b85449cdf31ce70c3f526a8488192a608d3883da218c
          name: container-image
